/**/
body
{
  background: linear-gradient(to bottom, #000099 0%, #ff5050 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  
 
}
.linha
{
   margin-top:10px;
}
.linha button
{
  font-size: 28px;
}
.btn{
  background-color : rgba(171, 30, 226, 0.74);
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
 
}
.btn:hover{
	color: #330000;
	background-color: transparent;

}
#text
{
  background-color: #07078d;
  margin-top: 10px;
  height: 90px;
  width: 200;
  color: white ;
  font-size: 60px;
}



